@font-face {
    font-family: 'GUERRILLA';
    src: url('GUERRILLA-Normal.eot');
    src: url('GUERRILLA-Normal.eot?#iefix') format('embedded-opentype'),
        url('GUERRILLA-Normal.woff2') format('woff2'),
        url('GUERRILLA-Normal.woff') format('woff'),
        url('GUERRILLA-Normal.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Rough Draft CY';
    src: url('RoughDraftCY-Regular.eot');
    src: url('RoughDraftCY-Regular.eot?#iefix') format('embedded-opentype'),
        url('RoughDraftCY-Regular.woff2') format('woff2'),
        url('RoughDraftCY-Regular.woff') format('woff'),
        url('RoughDraftCY-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}